.contenedor_objetivo {
    margin-right   : auto;
    margin-left    : auto;
    padding-right: 15px;
    padding-left: 15px;
    /* padding-top     : 20px;
    padding-bottom  : 30px; */
    background-color: #ff0000;
    /* max-width: 750px; */
  }
  .contenedor_objetivo-titulo {
    color      : #223F59;
    text-align : center;
    font-size  : 2.5rem;
    font-weight: 500;
  }
  .contenedor_objetivo-texto {
    text-align: justify;
    color     : #797979;
  }
  h1 {
    font-size: 2em;
    margin: 0em 0;
}
.contenedor_objetivo-panel{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
}
.contenedor_objetivo-panel-seccion{
    height: 100px;

    border      : 1px solid transparent;
    box-shadow  : 0 0 30px rgb(0 0 0 / 10%);
    background  : #f1f1f1;
    text-align  : center;
    padding     : 30px 0 25px 0;
}
body{
  background-color: red;
  
  }
/* @media (min-width: 768px){
  body{
  background-color: red;
  
  }
} */
/* @media (min-width: 992px){
  body{
    background-color: blue;
  }
  .contenedor_objetivo {
  max-width: 1140px;
  }

} */





@media (min-width: 576px){
.contenedor_objetivo {
    max-width: 540px;
}
}
@media (min-width: 768px){
  .contenedor_objetivo {
    max-width: 720px;
}
}
@media (min-width: 992px){
  .contenedor_objetivo  {
      max-width: 960px;
  }
  .contenedor_objetivo-panel {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  }
@media (min-width: 1200px){
  .contenedor_objetivo  {
      max-width: 1140px;
  }
  }


.contenedor_objetivo-panel-img {
  height: 50px;
  width : 70px;
}
.contenedor_objetivo-panel-h2 {
  font-size     : 22px;
  font-weight   : 500;
  letter-spacing: 1px;
  color         : #092a49;
  margin        : 0;

}